/* General class for all content */
.content {
  padding-top: 30px;
}

/* Overrides default ng-autocomplete component selected item */
.selected-item {
  margin-bottom: 5px;
}

.error-msg {
  display: none;
}

form.form-submitted.ng-invalid input.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

form.form-submitted.ng-invalid .error-msg {
  display: block;
}

form.ng-touched.ng-invalid input.ng-touched.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

button:disabled {
  cursor: no-drop;
}
