<div class="row justify-content-md-center">
  <div class="col-md-5 border px-5 py-5">
    <h5>Как вы хотите зарегистрироваться: </h5>
    <form (submit)="submit()">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" name="musician" type="radio" [(ngModel)]="selectUserType.userType" id="musician" [value]="UserType.Musician">
          <label class="form-check-label" for="musician">Как исполнитель</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" name="musician" type="radio" [(ngModel)]="selectUserType.userType" id="group" [value]="UserType.Group">
          <label class="form-check-label" for="group">Как группа</label>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success" type="submit">Подтвердить выбор</button>
      </div>
    </form>
  </div>
</div>
