<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <div class="row">
        <h4>Фильтры</h4>
      </div>
    </div>

    <div class="form-group" *ngIf="isMusician">
      <div class="row">
        <a href="javascript: " (click)="searchByProfile()">Искать по моему профилю</a>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label for="title">По названию</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="vacancyFilterModel.vacancyTitle" placeholder="По названию" />
      </div>
    </div>

    <div class="form-group" *ngIf="isGroup">
      <div class="row">
        <label for="minExperience">Опыт от</label>
        <input type="number" class="form-control" name="minExperience" [(ngModel)]="vacancyFilterModel.minExperience" placeholder="Опыт от" />
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-12 py-0 px-0">
          <label for="musicianRoles">Города</label>
          <ng-multiselect-dropdown [placeholder]="'Города'"
                                   [data]="cities"
                                   [(ngModel)]="vacancyFilterModel.cities"
                                   [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-12 py-0 px-0">
          <label for="workTypes">Виды работ</label>
          <ng-multiselect-dropdown [placeholder]="'Виды работ'"
                                   [data]="workTypes"
                                   [(ngModel)]="vacancyFilterModel.workTypes"
                                   [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-12 py-0 px-0">
          <label for="musicGenres">Жанры</label>
          <ng-multiselect-dropdown [placeholder]="'Музыкальные жанры'"
                                   [data]="musicGenres"
                                   [(ngModel)]="vacancyFilterModel.musicGenres"
                                   [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-12 py-0 px-0">
          <label for="musicianRoles">Профессия</label>
          <ng-multiselect-dropdown [placeholder]="'Кого вы ищете'"
                                   [data]="musicianRoles"
                                   [(ngModel)]="vacancyFilterModel.musicianRoles"
                                   [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <button class="btn btn-success" (click)="search()">Искать</button>
      </div>
    </div>
  </div>

  <div class="col-md-9 content pl-5" *ngIf="vacancies && vacancies.length === 0">
    <div class="row">
      <h3>По вашему запросу данных не было найдено. <br/>Попробуйте изменить запрос на поиск.</h3>
    </div>
  </div>

  <div *ngIf="vacancies && vacancies.length > 0" class="col-md-9 content pl-5">
    <div class="row py-3" *ngFor="let vacancy of vacancies">
      <div *ngIf="isMusician">
        <div class="col-md-12">
          <h5><a [routerLink]="['/vacancy', vacancy.id]">{{ vacancy.title }}</a></h5>
        </div>
        <div class="col-md-12">
          <div class="small">
            <a [routerLink]="['/profile', vacancy.userCreatorId]">{{ vacancy.userCreatorName }}</a>
          </div>
        </div>
      </div>

      <div *ngIf="isGroup">
        <div class="col-md-12">
          <h5><a [routerLink]="['/profile', vacancy.userCreatorId]">{{ vacancy.userCreatorName }}</a></h5>
          <p>{{ vacancy.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
