<div class="row">
  <div class="col-md-12">
    <h3>{{ vacancy.title }}</h3>
  </div>
  <div><a [routerLink]="['/profile', vacancy.userCreatorId]">{{ vacancy.userCreatorName }}</a></div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">Описание: {{ vacancy.description }}</div>
</div>

<div class="row">
  <div class="col-md-12">Мин. опыт: {{ vacancy.minExperience }}</div>
</div>

<div class="row" *ngIf="vacancy.workTypes">
  <div class="col-md-12">Города: {{ vacancy.cities }}</div>
</div>

<div class="row" *ngIf="vacancy.musicGenres">
  <div class="col-md-12">Жанры: {{ vacancy.musicGenres }}</div>
</div>

<div class="row" *ngIf="vacancy.musicianRoles">
  <div class="col-md-12">Виды деятельности: {{ vacancy.musicianRoles }}</div>
</div>

<div class="row" *ngIf="vacancy.workTypes">
  <div class="col-md-12">Виды работы: {{ vacancy.workTypes }}</div>
</div>

<button *ngIf="!vacancy.isContactRequestSent" (click)="sendContactRequest()"
        class="btn btn-success">Откликнуться</button>
