<div *ngIf="canCreateVacancy" class="form-group">
  <a [routerLink]="['/my/vacancy']" class="btn btn-success">Создать вакансию</a>
</div>

<div *ngIf="!canCreateVacancy" class="form-group">
  <p>Для того, что бы начать создавать вакансии, заполните пожалуйста ваш профиль.</p>
  <a [routerLink]="['/my/profile']" class="btn btn-success">Заполнить профиль</a>
</div>

<table class="table table-striped" *ngIf="canCreateVacancy">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Название</th>
    <th scope="col">Статус</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let vacancy of vacancies; let i=index">
    <th scope="row">{{ i+1 }}</th>
    <td><a [routerLink]="['/my/vacancy', vacancy.id]">{{ vacancy.title }}</a></td>
    <td>{{ vacancy.isClosed ? 'Закрыта' : 'Открыта' }}</td>
    <td>
      <a *ngIf="vacancy.isClosed" href="javascript: " (click)="reopenVacancy(vacancy)">Открыть вакансию</a>
      <a *ngIf="!vacancy.isClosed" href="javascript: " (click)="closeVacancy(vacancy)">Закрыть вакансию</a>
    </td>
  </tr>
  </tbody>
</table>


