<div class="row">
  <div class="col-md-12 py-2">
    <h3>Сообщения</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let request of contactRequests">

        <!-- If User owns request -->
        <div *ngIf="request.isUserOwner">
          <div *ngIf="isRequestOpened(request)">
            <div class="form-group">
              Вы отправили запрос открыть контакты,
              <a [routerLink]="['/profile', request.toUserId]">{{ request.toUserName }}</a>
            </div>
          </div>

          <div *ngIf="!isRequestOpened(request)">
            <div class="form-group">
              <a [routerLink]="['/profile', request.toUserId]">{{ request.toUserName }}</a>
              {{ request.status === ContactRequestStatus.Approved ? ' открыл контакты. Вы можете начать общаться.' : ' Отклонил ваш запрос.' }}
            </div>
          </div>
        </div>

        <!-- If User doesn't own request -->
        <div *ngIf="!request.isUserOwner">
          <div *ngIf="isRequestOpened(request)">
            <div class="form-group">
              <a [routerLink]="['/profile', request.userId]">{{ request.fromUserName }}</a>, просит открыть контактные данные.
            </div>

            <div class="row">
              <div class="col-md-2">
                <button (click)="manageContactRequest(request, true)" class="btn btn-success">Открыть контакты</button>
              </div>
              <div class="col-md-2">
                <button (click)="manageContactRequest(request, false)" class="btn btn-default">Отклонить запрос</button>
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="!isRequestOpened(request)">
            {{ request.status === ContactRequestStatus.Approved ? 'Вы открыли контактые данные для ' : 'Вы отклонили запрос для ' }}
            <a [routerLink]="['/profile', request.userId]">{{ request.fromUserName }}</a>
          </div>
        </div>

      </li>
    </ul>
  </div>
</div>
