<div>
  <form [formGroup]="mainPageForm" [ngClass]="{ 'form-submitted': formSubmitted }" (submit)="submit()">
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <a [routerLink]="['/profile']">Смотреть публичный профиль</a>
        </div>
      </div>
    </div>

    <!--<div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <div>
          <div style="width: 100px; height: 100px; background-color: lightgray;"></div>
          <button class="btn btn-outline-success">Загрузить фото</button>
        </div>
      </div>
    </div>
  </div>-->

    <div *ngIf="isMusician" class="form-group">
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label for="isActivated">Активировать профиль</label>
          </div>
          <div class="col-md-4">
            <input type="checkbox" id="isActivated"
                   [(ngModel)]="mainInfoModel.isActivated"
                   [ngModelOptions]="{standalone: true}" />
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <label for="name">Ваше Имя *</label>
        </div>
        <div class="col-md-5">
          <input type="text" id="name" class="form-control" placeholder="Имя" formControlName="name" />
          <control-validation [control]="formControls.name"></control-validation>
        </div>
      </div>
    </div>

    <div *ngIf="isGroup" class="form-group">
      <div class="row">
        <div class="col-md-2">
          <label for="name">Название Группы *</label>
        </div>
        <div class="col-md-5">
          <input type="text" id="groupName" class="form-control" placeholder="Название Группы" formControlName="groupName" />
          <control-validation [control]="formControls.groupName"></control-validation>
        </div>
      </div>
    </div>

    <div *ngIf="isMusician" class="form-group">
      <div class="row">
        <div class="col-md-2">
          <label for="age">Возраст</label>
        </div>
        <div class="col-md-5">
          <input type="number" id="age" class="form-control" formControlName="age" />
          <control-validation [control]="formControls.age"></control-validation>
        </div>
      </div>
    </div>

    <div *ngIf="isMusician" class="form-group">
      <div class="row">
        <div class="col-md-2">
          <label for="experience">Опыт (в годах)</label>
        </div>
        <div class="col-md-5">
          <input type="number" id="experience" class="form-control" formControlName="experience" />
          <control-validation [control]="formControls.experience"></control-validation>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <label for="musicGenres">Музыкальные жанры*</label>
        </div>
        <div class="col-md-5">
          <ng-multiselect-dropdown [placeholder]="'Музыкальные жанры'"
                                   [data]="musicGenres"
                                   [(ngModel)]="mainInfoModel.musicGenres"
                                   [ngModelOptions]="{standalone: true}"
                                   [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div *ngIf="isMusician" class="form-group">
      <div class="row">
        <div class="col-md-2">
          <label for="musicRoles">Роли *</label>
        </div>
        <div class="col-md-5">
          <ng-multiselect-dropdown [placeholder]="'Роли'"
                                   [data]="musicianRoles"
                                   [(ngModel)]="mainInfoModel.musicianRoles"
                                   [ngModelOptions]="{standalone: true}"
                                   [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div *ngIf="isMusician" class="form-group">
      <div class="row">
        <div class="col-md-2">
          <label>Виды работ *</label>
        </div>
        <div class="col-md-5">
          <ng-multiselect-dropdown [placeholder]="'Виды работ'"
                                   [data]="workTypes"
                                   [(ngModel)]="mainInfoModel.workTypes"
                                   [ngModelOptions]="{standalone: true}"
                                   [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <label for="description">{{ isMusician ? 'Опишите себя' : 'Опишите группу' }}</label>
        </div>
        <div class="col-md-5">
          <textarea id="description" class="form-control" rows="5"
                    [(ngModel)]="mainInfoModel.description"
                    [ngModelOptions]="{standalone: true}"></textarea>
          <label class="small" *ngIf="isMusician">Опишите чем вы занимаетесь, какие ожидания от работы и т.д.</label>
          <label class="small" *ngIf="isGroup">Опишите чем вы занимаетесь, сколько у вас человек в группе и т.д.</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-success" type="submit">Сохранить</button>
    </div>
  </form>
</div>
