<form [formGroup]="vacancyFormGroup" [ngClass]="{ 'form-submitted': formSubmitted }">
  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <label for="title">Название *</label>
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" name="title" formControlName="title" placeholder="Название" />
        <span class="small">Ищу барабанщика, гитариста и т.д.</span>
        <control-validation [control]="formControls.title"></control-validation>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <label for="description">Описание</label>
      </div>
      <div class="col-md-5">
        <textarea class="form-control" name="description" formControlName="description" placeholder="Описание"></textarea>
        <span class="small">Кого вы ищете, ваши пожелания и ожидания от кандидата.</span>
        <control-validation [control]="formControls.description"></control-validation>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <label for="minExpirience">Опыт не меньше</label>
      </div>
      <div class="col-md-5">
        <input type="number" class="form-control" name="minExpirience" formControlName="minExpirience" placeholder="Опыт не меньше" />
        <control-validation [control]="formControls.minExpirience"></control-validation>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <label for="cities">Города</label>
      </div>
      <div class="col-md-5">
        <ng-multiselect-dropdown [placeholder]="'Города'"
                                 [data]="cities"
                                 [(ngModel)]="vacancyFilterModel.cities"
                                 [ngModelOptions]="{standalone: true}"
                                 [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <label for="workTypes">Виды работ</label>
      </div>
      <div class="col-md-5">
        <ng-multiselect-dropdown [placeholder]="'Виды работ'"
                                 [data]="workTypes"
                                 [(ngModel)]="vacancyFilterModel.workTypes"
                                 [ngModelOptions]="{standalone: true}"
                                 [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <label for="musicRoles">Музыкальные жанры</label>
      </div>
      <div class="col-md-5">
        <ng-multiselect-dropdown [placeholder]="'Музыкальные жанры'"
                                 [data]="musicGenres"
                                 [(ngModel)]="vacancyFilterModel.musicGenres"
                                 [ngModelOptions]="{standalone: true}"
                                 [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <label for="musicGenres">Кого вы ищете * </label>
      </div>
      <div class="col-md-5">
        <ng-multiselect-dropdown [placeholder]="'Кого вы ищете'"
                                 [data]="musicianRoles"
                                 (onSelect)="onSelect($event)"
                                 (onDeSelect)="onDeSelect()"
                                 [(ngModel)]="vacancyFilterModel.musicianRoles"
                                 [ngModelOptions]="{standalone: true}"
                                 [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
        <control-validation [control]="formControls.musicianRoles"></control-validation>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-success" (click)="submit()">Сохранить</button>
</form>
