<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class="container">
    <a class="navbar-brand" href="/">PlayTogether</a>
    <button class="navbar-toggler" type="button" (click)='toggle()' data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]='{ "show": isExpanded }'>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link" [routerLink]='["/"]'>Поиск</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["active"]' *ngIf="user.isLoggedIn">
          <a class="nav-link" [routerLink]='["my/contact-requests"]'>Сообщения
            <new-contact-request-counter></new-contact-request-counter>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["active"]' *ngIf="isGroupUser">
          <a class="nav-link" [routerLink]='["my/vacancies"]'>Мои вакансии</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="user.isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["my/profile"]'>Мой профиль</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript: " (click)="logout()">Выйти</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
