<div class="row">
  <div class="col-md-12">
    <h3>{{ profile.name }}</h3>
  </div>
  <div *ngIf="isMusician" class="col-md-12">
    <p>Администратор группы  {{ profile.groupName }}</p>
  </div>
</div>

<hr />

<div *ngIf="profile.isContactsAvailable">
  <h3>Контакты</h3>
  <div class="form-group">
    <div class="row">
      <div class="col-md-2">Email</div>
      <div class="col-md-12">{{ profile.contactEmail }}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-2">Телефон</div>
      <div class="col-md-10">{{ profile.phone1 }}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="row" *ngIf="profile.phone2">
      <div class="col-md-2">Телефон 2</div>
      <div class="col-md-10">{{ profile.phone2 }}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="row" *ngIf="profile.url1">
      <div class="col-md-2">Соц. сеть, блог, Youtube канал</div>
      <div class="col-md-10">{{ profile.url1 }}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="row" *ngIf="profile.url2">
      <div class="col-md-2">Соц. сеть, блог, Youtube канал</div>
      <div class="col-md-10">{{ profile.url2 }}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="row" *ngIf="profile.address">
      <div class="col-md-2">Адрес</div>
      <div class="col-md-10">{{ profile.address }}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="row" *ngIf="profile.contactTypes">
      <div class="col-md-2">Способы связи</div>
      <div class="col-md-10">{{ profile.contactTypes }}</div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-2">Город</div>
    <div class="col-md-10">{{ profile.city }}</div>
  </div>
</div>

<div class="form-group">
  <div class="row" *ngIf="isGroup">
    <div class="col-md-2">Возраст</div>
    <div class="col-md-10">{{ profile.age }}</div>
  </div>
</div>

<div class="form-group">
  <div class="row" *ngIf="isGroup">
    <div class="col-md-2">Опыт игры</div>
    <div class="col-md-10">Опыт игры: {{ profile.experience }}</div>
  </div>
</div>

<div class="form-group">
  <div class="row" *ngIf="profile.musicGenres">
    <div class="col-md-2">Жанры</div>
    <div class="col-md-10">{{ profile.musicGenres }}</div>
  </div>
</div>

<div class="form-group">
  <div class="row" *ngIf="profile.musicianRoles && isGroup">
    <div class="col-md-2">Виды деятельности</div>
    <div class="col-md-10">{{ profile.musicianRoles }}</div>
  </div>
</div>

<div class="form-group">
  <div class="row" *ngIf="profile.workTypes && isGroup">
    <div class="col-md-2">Виды работы</div>
    <div class="col-md-10">{{ profile.workTypes }}</div>
  </div>
</div>

<div class="form-group">
  <div class="row" *ngIf="profile.description">
    <div class="col-md-2">Описание</div>
    <div class="col-md-10">{{ profile.description }}</div>
  </div>
</div>

<div class="form-group">
  <button *ngIf="isGroup && !profile.isContactRequestSent" (click)="sendContactRequest()"
          class="btn btn-success">Заинтересован</button>
</div>
