<div class="row">
  <div class="col-md-12">
    <h3>{{ profile.name }}</h3>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-12">
      <img height="200" class="rounded" src="data:image/png;base64,{{ profile.photoBase64 }}" />
    </div>
  </div>
</div>

<hr />

<div class="form-group" *ngIf="isMusician">
  <div class="row">
    <div class="col-md-3">Администратор группы</div>
    <div class="col-md-9">{{ profile.groupName }}</div>
  </div>
</div>

<div *ngIf="profile.isContactsAvailable">
  <h4>Контакты <span *ngIf="isMusician">группы</span></h4>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">Email</div>
      <div class="col-md-9">{{ profile.contactEmail }}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">Телефон</div>
      <div class="col-md-9">{{ profile.phone1 }}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="row" *ngIf="profile.phone2">
      <div class="col-md-3">Телефон 2</div>
      <div class="col-md-9">{{ profile.phone2 }}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="row" *ngIf="profile.url1">
      <div class="col-md-3">Ссылка на соц. сеть, блог или Youtube канал</div>
      <div class="col-md-9">
        <a href="{{ profile.url1 }}">{{ profile.url1 }}</a>
      </div>
    </div>
  </div>
    <div class="form-group">
      <div class="row" *ngIf="profile.url2">
        <div class="col-md-3">Ссылка на портфолио</div>
        <div class="col-md-9"><a href="{{ profile.url2 }}">{{ profile.url2 }}</a></div>
      </div>
    </div>
  <div class="form-group">
    <div class="row" *ngIf="profile.address">
      <div class="col-md-3">Адрес</div>
      <div class="col-md-9">{{ profile.address }}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="row" *ngIf="profile.contactTypes">
      <div class="col-md-3">Способы связи</div>
      <div class="col-md-9">{{ profile.contactTypes }}</div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-3">Город</div>
    <div class="col-md-9">{{ profile.city }}</div>
  </div>
</div>

<h4>Профиль <span *ngIf="isMusician">группы</span></h4>

<div class="form-group">
  <div class="row" *ngIf="isGroup && profile.age">
    <div class="col-md-3">Возраст</div>
    <div class="col-md-9">{{ profile.age }}</div>
  </div>
</div>

<div class="form-group">
  <div class="row" *ngIf="isGroup && profile.experience">
    <div class="col-md-3">Опыт игры</div>
    <div class="col-md-9">{{ profile.experience }}</div>
  </div>
</div>

<div class="form-group">
  <div class="row" *ngIf="profile.musicGenres">
    <div class="col-md-3">Жанры</div>
    <div class="col-md-9">{{ profile.musicGenres }}</div>
  </div>
</div>

<div class="form-group">
  <div class="row" *ngIf="profile.musicianRoles && isGroup">
    <div class="col-md-3">Виды деятельности</div>
    <div class="col-md-9">{{ profile.musicianRoles }}</div>
  </div>
</div>

<div class="form-group">
  <div class="row" *ngIf="profile.workTypes && isGroup">
    <div class="col-md-3">Тип работыы</div>
    <div class="col-md-9">{{ profile.workTypes }}</div>
  </div>
</div>

<div class="form-group">
  <div class="row" *ngIf="profile.description">
    <div class="col-md-3">Описание</div>
    <div class="col-md-9">{{ profile.description }}</div>
  </div>
</div>

<div class="form-group">
  <button *ngIf="isGroup && !profile.isContactRequestSent" (click)="sendContactRequest()"
          class="btn btn-success">
    Попросить открыть контакты
  </button>
</div>
